// ==========================================================================
// LAYOUT - LAYOUT OBJECTS
// ==========================================================================

.layout {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-4;
}

.layout__item {
  flex: 1;
} 