@media print{
	@charset "UTF-8";
	
	.Menu, .content-wrapper, .container-restaurant, .blockUI, .bootbox, .modal-backdrop {
        display: none;
	}
.print-invoice{
	margin: 0px;
}
	hr{
		border: 1px dotted #ff0000;
	    border-style: none none dotted; 
	    color: #fff; 
	    background-color: #fff;
		padding: 0;
	    margin: 0;
	}
	
	.bold{
		font-weight: bold;
	}
	
	.pull-left{
		float: left !important;
	}

	.pull-right {
		float: right !important;
	}
	
	.font-2x {
		font-size: 18pt !important;
	}

	.u-mar-0{
		margin: 0;
	}
	
	.u-left-40{
		float: left;
		width: 40%;
	}

	.u-left-50{
		float: left;
		width: 50%;
	}

	.u-left-60{
		float: left;
		width: 60%;
	}

	.u-text-right{
		text-align: right;
	}

	.u-text-center{
		text-align: center;
	}

	/* Invoice */

	.print-invoice-container{
		font-size: 12pt;
		font-family: "Arial", Gadget, sans-serif;
		width: 70mm;
		text-align: center;
	}
	
	.print-invoice-container .header p{
		margin: 0.25em 0;
	}
	
	.print-invoice-container .content .detail{
		font-size: 10pt;
		padding: 1pt 0;
	}

	.print-invoice-container .content .orders{
		padding: 3pt 0;
	}

	.print-invoice-container .content .detail span{
		display: inline-block;
		width: 25%;
		font-size: 11pt;
	}
	
	/* Receipt */
	.print-receipt-container {
		font-size: 12pt;
		font-family: "Arial", Gadget, sans-serif;
		margin: 1em 0 1em 2em;
	}

	.print-receipt-title{
		font-style: italic;
	}
	
	.print-receipt-header .address{
		font-size: .65em;
	}

	.print-receipt-header .receipt{
		border: 1pt solid black;
		border-radius: 3pt;
		font-size: 0.9em;
		width: 12em;
	}

	.print-receipt-header .receipt .name{
		border-bottom: 1pt solid black;
		text-align: center;
		padding: 0 0 0.5em 0;
	}
	
	.print-receipt-header .receipt .number{
		padding: 0.25em 0.5em;
	}
	
	.print-receipt-info {
		font-size: .7em;
	}

	.print-receipt-info .user, .print-receipt-info .client{
		padding: .5em 0 0.5em 0.25em;
	}

	.print-receipt-info .content{
		border: 1pt black solid;
		border-radius: 3pt;
		height: 10em;
	}

	.print-receipt-info .content .row{
		border-bottom: 1pt solid black;
	}

	.print-receipt-info .content .row:last-child{
		border-bottom: none;
	}

	.print-receipt-info .user .date, .print-receipt-info .user .employee, .print-receipt-info .user .referred{
		padding: .25em;
		border-right: 1pt solid black;
	}

	.print-receipt-info .user .expiration, .print-receipt-info .user .method, .print-receipt-info .user .send{
		padding-left: .5em;
	}

	.send{
		padding-top: .25em;
	}
	
	.print-receipt table{
		font-size: .7em;
	}

	.print-receipt table th{
		border: 2pt solid black;
		text-align: center;
	}

	.print-receipt table td{
		padding-left: 3pt;
	}

	.print-receipt table .subtotal{
		border-top: 1pt solid black;
	}

	.print-receipt-concept{
		margin-top: 1em;
		font-size: .7em;
	}

	.print-receipt-total{
		padding: .25em;
		width: 10em;
		border: 1px solid black;
		border-radius: 3pt;
		font-size: .8em;
	}
	.fondo-title {
		background-color: #155C9F;
		color: #ffffff;
		text-align: center;
	}
	.footer-leyenda{
		font-size: 9px;
	}
}