// ==========================================================================
// HEADING UTILITIES - HEADING CLASSES
// ==========================================================================

.h1 { font-size: $font-size-4xl !important; }
.h2 { font-size: $font-size-3xl !important; }
.h3 { font-size: $font-size-2xl !important; }
.h4 { font-size: $font-size-xl !important; }
.h5 { font-size: $font-size-lg !important; }
.h6 { font-size: $font-size-base !important; } 