<div class="row">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button> 
        <h4 class="modal-title" id="mySmallModalLabel">Anular Orden</h4> 
    </div>
    <div class="modal-body canceled">
        <section class="row">
            <div class="col-sm-12">
                <div class="form-mep">
                    <label for="nameMenu">Descripción</label>
                    <textarea class="form-control" id="description"></textarea>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input name="password" id="password" type="password" class="form-control">
                </div>
            </div>
            <div class="col-sm-6">
                <button type="button" class="btn btn-success ladda-button" data-style="expand-left" style="margin-top: 1.75em"><span class="ladda-label"><span class="fa fa-floppy-o"></span> Registrar</button>
            </div>
        </section>
        <div class="msg text-center">
            
        </div>
    </div>        
</div>