<tr class="item">
	<td class="text-center" contenteditable>
		<button href="#" class="btn btn-danger btn-xs delete" data-url="asientos-auxiliares">
			<i class="fa fa-trash-o"></i>
		</button>
	</td>
	<td class="code" contenteditable></td>
	<td class="description" contenteditable></td>
	<td class="type"></td>
	<td class="amount" contenteditable></td>
	<td class="cost" contenteditable></td>
	<td class="discount" contenteditable></td>
	<td class="text-center total"></td>
	<input type="hidden" class="token">
</tr>